doctype html
html
  head
    title Rohit Dance Academy
    block scripts 
    block style 
  body
    nav#navbar
      ul 
        div#logo
          img(src="/static/img/R.png")
          |RDA
        li #[a(href ="/") Home]
        li #[a(href ="/") About] 
        li #[a(href ="/") Services] 
        li #[a(href ="/") Class Info] 
        li #[a(href ="/contact") Contact Us]
    block content


    footer#footer 
       |Copyright © 2021 RohitDanceAcademy.com | All right  reserved