@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
h1{
    text-align: center;
    margin: 12px 0px;
}
.myinput{
    display: block;
    padding: 12px;
    width: 40%;
    margin: 9px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 15px;
    outline: none;
}
.myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.btn{
    border: 2px solid black;
    font-size: 18px;
    padding: 7px 13px;
    margin: 8px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
}
.container{
    min-height: 80vh;
    background-color: antiquewhite;
    margin-top: -12px;
}
.container h1{
    font-family: 'Lato', sans-serif;
    margin-top: 11px;
    padding: 16px;
}